@keyframes sparkling{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(30deg);
    }
    52%{
        transform: rotate(25deg);
    }
    70%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.hero-sparkle{
    position: absolute;
    right: -60px;
    top: -70px;
}

.nav-sparkle{
    position: absolute;
    right: -8px;
    top: -10px;
}

.sparkle{
    animation: sparkling 5s ease-in-out infinite;
}

#hero-container{
    background-image: url('/twilight-bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

#experience-container{

}

#experience-container hr{
    border: 1px #3E3F3C solid;
}

.experience-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: -0.75rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #3E3F3C;
}

.experience-item:not(:last-child){
    border-left: 1px solid;
    padding-bottom: 4rem;
}


.section-headline{

}
