@keyframes sparkling{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(30deg);
    }
    52%{
        transform: rotate(25deg);
    }
    70%{
        transform: rotate(90deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

section{
    max-width: 1120px;
}

.hero-sparkle{
    position: absolute;
    right: -60px;
    top: -70px;
}

.nav-sparkle{
    position: absolute;
    right: -8px;
    top: -10px;
}

.nav-link{
    position: relative;
}


.nav-link-selected{
    border-bottom: 3px #3E3F3C solid;
    font-weight: 500;

}

.sparkle{
    animation: sparkling 5s ease-in-out infinite;
}

#hero-container{
    background-image: url('/twilight-bg.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

#experience-container{

}

#experience-container hr{
    border: 1px #3E3F3C solid;
}

.experience-item::before{
    content: '';
    position: absolute;
    top: 0.2rem;
    left: -0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #3E3F3C;
}

.experience-item:not(:last-child){
    border-left: 1px solid;
    padding-bottom: 4rem;
}


.section-headline{
    font-size: 2em;
    margin-bottom: 0.4em;
}

.bubble-container{
    margin-bottom: 0.8em;
}

.edu-academy-name{
    font-weight: 600;
}
.edu-course-name{
    font-weight: 500;
}

.jobtitle{
    font-size: 1.6em;
    font-weight: 600;
}

.companyname{
    font-size: 1.4em;
    font-weight: 500;
}